<nav>
  <ul>
    <li><a routerLink="/Dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a></li>
    <li class="dropdown">
      <a routerLink="/Expense/List" ariaCurrentWhenActive="page">Expenses</a>
      
      <ul class="dropdown-menu">
        <li><a (click)="openExportModal()">Export Expenses</a></li>        
        <li><a routerLink="/Expense/Reports">Reports</a></li>
      </ul>
    </li>
    <li><a routerLink="/ExpenseType/List" ariaCurrentWhenActive="page">ExpenseTypes</a></li>
    <li><a routerLink="/Configs" routerLinkActive="active" ariaCurrentWhenActive="page">Configs</a></li>
  </ul>
</nav>