<h1 class="page-title">Expenses</h1>

<div class="container">
  <button type="button" class="btn btn-primary" (click)="SetEditExpense()">+ Add</button>
</div>

<div class="table-container">
  <table class="expense-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>amount</th>
        <th>Expense Type</th>
        <th>Date of Emission</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses" [ngClass]="{'even-row': expense.id % 2 === 0}">
        <td>{{ expense.title }}</td>
        <td>{{ expense.amount }} €</td>
        <td>{{ expense.expenseType.code }}</td>
        <td>{{ expense.dateOfEmission | date:'yyyy-MM-dd'}}</td>
        <td><button class="edit-button" (click)="SetEditExpense(expense.id)">Edit</button></td>
        <td><button class="delete-button" (click)="DeleteExpense(expense.id)">Delete</button></td>

      </tr>
    </tbody>
  </table>
</div>

<div class="pagination-controls">
  <button (click)="prevPage()" [disabled]="pageNumber === 1" class="pagination-button">Previous</button>
  <button (click)="nextPage()" class="pagination-button">Next</button>
  <p class="pagination-info">Page: {{ pageNumber }}</p>
</div>
